.calendar {
  background-color: #f8f9fa;
  border-radius: 8px;
  height: 75vh; 
  width: 200%; 
  display: flex;
  flex-direction: column; /* Ensure the calendar content stacks properly */
  border: 1px solid #ccc; /* Optional for visualization */
}

.calendar .header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
}

.calendar .days {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.calendar .dates {
  flex-grow: 1; /* Allow the dates grid to expand to fill remaining space */
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Seven columns for days of the week */
  gap: 5px;
}

.day, .date {
  /* text-align: center; */
  padding: 10px;
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.date:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.date.active {
  border-style: solid;
  border-width: 1px;
  background-color: rgba(128, 128, 128, 0.19);
}

.date.inactive {
  color: #cccaca;
}

.date.inactive:hover {
  color: #a5a4a4;
}

.main {
  display: flex;
  gap: 10px;
}

.date.has-note {
  position: relative; /* Needed to position the dot within this element */
}

.date.has-note::before {
  content: ''; /* No text, only the dot */
  position: absolute;
  top: 15px; /* Adjust to position dot closer to the top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 5px; /* Adjust size of the dot */
  height: 5px; /* Adjust size of the dot */
  background-color: #007bff; /* Dot color */
  border-radius: 50%; /* Makes it circular */
}

.date.selected {
  background-color: rgba(128, 128, 128, 0.19);
}

#nextBtn, #prevBtn{
  height: 40px;
  width: 30px;
}




