body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/homepage-background.png");
    background-size: cover;
    background-position: center 90%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 2px solid #421f0c;
}

.home-main-section {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for overall layout */
.container {
    max-width: 1500px;
    max-height: 2500px;
    width: 150%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

/* Dashboard, account, and logout */
.nav-links a {
    margin: 5px;
    margin-top: 0%;
    text-decoration: none;
    color: #000;
}

/* Events container */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 70px;
}

.form-section {
    border: 1px solid #000;
    padding: 20px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-section h2 {
    text-align: center;
    margin-top: 0;
}

.form-group {
    margin-bottom: 5%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 70%;
    padding: 5px;
}

.form-buttons {
    display: grid;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    margin-top: -102px;
    margin-left: 500px;
}

/* Scheduled Event container */
.scheduled-event {
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    width: 20%;
    height: 250px;
    position: absolute;
    display: none;
    box-sizing: border-box;
    align-self: center;
    text-align: center;
    margin-left: 850px;
    margin-bottom: 5px;
}

.scheduled-event h3 {
    margin-top: 0;
    font-size: 18px;
}

.note {
    color: red;
    font-size: 12px;
}

.pin {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 24px;
    color: red;
    transform: rotate(-20deg);
}

.exit-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #f5f5f5;
    border: 1px solid #000;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    text-align: center;
    border-radius: 3px;
}

.exit-btn:hover {
    background-color: #e0e0e0;
}

.calendar{
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  width: 150px;
}

.header button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.header button:hover {
  background-color:#919ca8;
}

.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 5px;
  color: #999FA6;
  font-weight: 500;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.date:hover, .date.active{
  background-color: #ff5869;
  color: #fff;
}

.date.inactive{
  color: #d2d2d2;
}

.date.inactive:hover{
  color: #fff;
}


